server {
    listen 8080;
    # listen [::]:8080;
    server_name _;
    root /usr/share/nginx/html;

    location = / {
        return 302 /dashboard/;
    }
    location = /dashboard {
        return 302 /dashboard/;
    }
    location /dashboard/ {
        try_files $uri $uri/ /dashboard/index.html;
    }
    location /api/ {
        # maps /api/v1.2 -> :5000/v1.2 etc
        include proxy_params;
        # trailing slash strips /api/ part:
        proxy_pass http://host.docker.internal:5000/;
    }
    # maps /v1.2 -> :5000/v1.2 etc
    # note w/o trailing slash
    location /v1/ { include proxy_params; proxy_pass http://host.docker.internal:5000; }
    location /v1.1/ { include proxy_params; proxy_pass http://host.docker.internal:5000; }
    location /v1.2/ { include proxy_params; proxy_pass http://host.docker.internal:5000; }
    location /swaggerui/ { include proxy_params; proxy_pass http://host.docker.internal:5000; }

    location = /dashboard/runtime-config.js {
        # Inject public $host ip in HOST_PLACHOLDER
        default_type application/javascript;
        add_header Cache-Control "no-cache, no-store, must-revalidate";
        try_files /runtime-config-template.js =404;
        sub_filter_once off;
        sub_filter_types application/javascript;
        sub_filter 'HOST_PLACEHOLDER' '$host';
    }
}
